.metadata
.classpath
.project
.settings
bin
lib
gwt-unitCache
classes
deploy
BigBang/war/bigbang
BigBang.Tests/war/bigbang_tests
Codigos Postais
Ficheiros
!BigBang/war/WEB-INF/lib
BigBang.Jewel/bigBang-jewel.jar
BigBang.Jewel/bigBang.docuShare.jar
