<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GeneralSystemModule.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>CostCenterService</servlet-name>
  	<servlet-class>bigBang.module.generalSystemModule.server.CostCenterServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CostCenterService</servlet-name>
  	<url-pattern>/generalsystemmodule/CostCenterService</url-pattern>
  </servlet-mapping>

</web-app>
