<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd"
    [ 
    	<!ENTITY  loginServices SYSTEM "loginServices.xml" >
    	<!ENTITY  libraryServices SYSTEM "libraryServices.xml" > 
    	<!ENTITY  taskServices SYSTEM "taskServices.xml" > 
    	<!ENTITY  generalSystemServices SYSTEM "generalSystemServices.xml" > 
    	<!ENTITY  clientServices SYSTEM "clientServices.xml" > 
    	<!ENTITY  insurancePolicyServices SYSTEM "insurancePolicyServices.xml" > 
    ]  >

<web-app>
	<!-- Listeners -->
	<listener>
		<listener-class>bigBang.server.Global</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>

	<!-- Servlets -->
	&loginServices;
	&libraryServices;
	&taskServices;
	&generalSystemServices;
	&clientServices;
	&insurancePolicyServices;

	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<url-pattern>/bigbang/logging</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>BigBang.html</welcome-file>
	</welcome-file-list>

	<!-- Forcing SSL -->
	<!--
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entire Application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection> 
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee> 
		</user-data-constraint>
	</security-constraint>
	-->

	<!-- SPNEGO Integrated Login -->
	<!--
	<filter>
		<filter-name>SpnegoHttpFilter</filter-name>
		<filter-class>net.sourceforge.spnego.SpnegoHttpFilter</filter-class> 
		<init-param>
			<param-name>spnego.allow.basic</param-name>
			<param-value>true</param-value> 
		</init-param>
		<init-param>
			<param-name>spnego.allow.localhost</param-name> 
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.allow.unsecure.basic</param-name> 
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.login.client.module</param-name> 
			<param-value>spnego-client</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.krb5.conf</param-name> 
			<param-value>krb5.conf</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.login.conf</param-name> 
			<param-value>login.conf</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.preauth.username</param-name> 
			<param-value>jmmtomcat</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.preauth.password</param-name> 
			<param-value>jmm.000</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.login.server.module</param-name> 
			<param-value>spnego-server</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.prompt.ntlm</param-name> 
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>spnego.logger.level</param-name> 
			<param-value>1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SpnegoHttpFilter</filter-name> 
		<url-pattern>*</url-pattern>
	</filter-mapping>
	-->

</web-app>
