<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd"
    [ 
    	<!ENTITY  authenticationServices SYSTEM "authenticationServices.xml" >
    	<!ENTITY  taskServices SYSTEM "taskServices.xml" > 
    	<!ENTITY  searchServices SYSTEM "searchServices.xml" > 
    	<!ENTITY  generalSystemServices SYSTEM "generalSystemServices.xml" > 
    ]  >

<web-app>
	<!-- Listeners -->
	<listener>
		<listener-class>bigBang.server.Global</listener-class>
	</listener>
	<listener>
    	<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
  
  <!-- Servlets -->
  &authenticationServices;
  &taskServices;
  &searchServices;
  &generalSystemServices;
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BigBang.html</welcome-file>
  </welcome-file-list>

	<!-- Forcing SSL -->
	<!--
	<security-constraint> 
		<web-resource-collection> 
			<web-resource-name>Entire Application</web-resource-name> 
			<url-pattern>/*</url-pattern> 
		</web-resource-collection> 
		<user-data-constraint> 
			<transport-guarantee>CONFIDENTIAL</transport-guarantee> 
		</user-data-constraint> 
	</security-constraint>
	-->
</web-app>
